footer{
    display: flex;
    background-color: var(--background-grey);
    height: 25vh;
}

footer div ul li {
    display: block;
    margin: 10px;
}

footer div ul li:first-of-type {
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 20px;
}

footer div ul a {
   text-decoration: none;
   color:black;
   font-weight: 300;
   font-size: 15px;
}

footer div{
    margin-right: 15%;
}