.cards{
    width: 250px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.cards img{
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    max-width: 100%;
    object-fit: cover;
}

.cards h4, aside article h4 {
    margin: 2px 0;
}

.cards p {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}


aside article{
    width: 100%;
    height: 135px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 35px 0;
    display: flex;
    box-shadow: 0 3px 6px rgba(0,0,0,0.08);
}

aside article img{
    width: 40%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    max-width: 100%;
    object-fit: cover;
}

aside article .long {
    padding: 15px;
}

.aside article .long .stars {
    padding-top: 37px;
}

aside article .long .stars .fa-star {
    font-size: 10px;
}

aside article p {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
}

.fa-star {
    font-size: 12px;
	color: var(--background-grey);
	padding: 0.0625rem;
}

.fa-star.blue {
	color: var(--dark-blue);
}

.stars {
    display: inline-flex;
    justify-content: center;
}

@media only screen and (min-width: 1900px){

}
@media only screen and (min-width: 1600px) and (max-width: 1900px){

}


@media only screen and (min-width: 1024px) and (max-width: 1600px){


}


@media only screen and (min-width: 600px) and (max-width: 1024px){

}


@media screen and (min-width: 480px) and (max-width: 600px){

}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    aside article{
        width: 90%;
        margin: 10px auto;
        height: 130px;
    }

    aside article:last-of-type{
        margin-bottom: 40px;
    }

    .cards{
        width: 90%;
        height: 200px;
        margin: 5px;
    }

    .cards p, h4, .stars {
        padding-left: 10px;
    }

    .fa-star {
        padding:0;
    }
}