section:nth-of-type(3){
    margin: 50px 0;
}

#all-activities{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1600px){
    #activity h2 {
        margin: 30px 15px;
    }
}


@media only screen and (min-device-width: 760px) and (max-device-width: 1024px){
    section:nth-of-type(3){
        margin: 20px 30px 50px 30px;
    }

    #activity h2 {
        margin: 30px 15px;
    } 
}

@media only screen and (min-device-width: 320px)  and (max-device-width: 760px) {
    #all-activities{
        display: block;
        width: 100%;
    }
}